body{
  background-color: rgb(36, 33, 33);
  overflow: hidden;
}

.game {
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.btn {
  font-family: inherit;
  height: 65px;
  width: 170px;
  font-size: 20px;
  margin-left: 20px;
}

.details {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 50px;
  flex-direction: column;
}

.titleGame{
  margin-bottom: 120px;
}

.bar {
  height: 15px;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionMark {
  height: 130px;
  width: 230px;
  background-color: white;
  color: rgb(24, 22, 22);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

.checkNumberTab {
  height: 500px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.checkNumber{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.infoScore{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 25px;
}

input{
  font-family: inherit;
  height: 110px;
  width: 250px;
  text-align: center;
  font-size: 80px;
}

.checkBtn{
  padding-top: 20px;
}

.info_game{
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 6%;
}